.framer-1u6q9uj-container{
    opacity: 1;

}
.framer-1b59nf9{
    opacity: 1; 
    transform: none;
}

.framer-Rl6bU , .framer-19okerg , .framer-v-19okerg {
    background-color: rgb(255, 255, 255); 
    border-radius: 96px; 
    opacity: 1;
}

.async{
    display: block; width: 100%; height: 100%; border-radius: inherit; object-position: center center; object-fit: cover; image-rendering: auto;

}
.data-framer-background-image-wrapper{
    position: absolute; border-radius: inherit; inset: 0px;
}

.framer-1esthy9{
    border-radius: 96px; opacity: 1;
}
